﻿@model IEnumerable<Onboard1.Models.Sales>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customers.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stores.StoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateSold)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customers.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Products.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stores.StoreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateSold)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SalesId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SalesId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SalesId })
        </td>
    </tr>
}

</table>
